<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="Test">
        <classes>
            <class name="testscripts.TC_LGN_001"/>
            <class name="testscripts.TC_LGN_002"/>
            <class name="testscripts.TC_HM_001"/>
            <class name="testscripts.TC_HM_003"/>
        </classes>
    </test>
</suite>